body {
	background-color: #cccccc;
	font-family: Arial, sans-serif;
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 20px;
	max-width: 600px;
	border-radius: 10px;
	/* Using more muted, less bright colors */
	background: linear-gradient(to right, lightcoral, sandybrown, khaki, darkseagreen, lightblue, mediumpurple, plum);
	background-size: 200% 200%;
	animation: rainbow 20s ease infinite;	color: #333;
}

.container.paused {
	anima